/* HEADERS */

#home-product-page-header-1 {
    display: flex;
    align-items: center;
    padding-left: 2.5%;
    height: 9.3vh;
    width: 100%;
    background-color: white;
}

#home-product-page-header-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    border-bottom: 1px rgb(230, 230, 230) solid;
    box-shadow: 0px 5px 7px 0px rgb(225, 225, 225);
    margin-bottom: 50px;
    position: sticky;
    top: 0px;
    background-color: white;
}

#logo {
    height: 35px;
}

.user-image {
    height: 35px;
}

.product-logo {
    margin-left: 2.5%;
    font-size: 24px;
    font-weight: 700;
    color: rgb(100, 100, 100);
}

.logos {
    display: flex;
    align-items: center;
    width: 250px;
    margin-left: 2.5%;
}

.product-header-2-center-menu {
    margin-left: 12%;
}

.product-header-2-menu-buttons {
    font-size: 16px;
    border: 0px;
    border-radius: 15px;
    outline: 0px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(245, 245, 245);
    padding: 10px;
}

.product-header-2-menu-buttons:hover {
    background-color: rgb(230, 230, 230);
    padding: 10px;
}

.product-header-2-right-stuff {
    margin-right: 2.5%;
    display: flex;
    align-items: center;
}

.product-header-2-text {
    margin-right: 15px;
}

.product-header-2-text-p-1{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 4px;
    font-weight: 600;
}

.product-header-2-text-p-2{
    margin-bottom: 0px;
    margin-top: 0px;
}

.product-header-2-buy-button {
    color: white;
    background-color: rgb(50, 125, 230);
    outline: 0px;
    border: 0px;
    border-radius: 2px;
    height: 7.5vh;
    width: 18.5vh;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans';
}

/* BODY */

#home-product-heading {
    font-size: 60px;
    font-weight: 700;
    color: rgb(127, 127, 127);
    margin-top: 100px;
}

.home-product-heading-button{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 16px;
    font-weight: 700;
    font-weight: 600;
    font-family: 'Gill Sans';
    color: rgb(50, 125, 230);
    background-color: white;
    border: 2px rgb(50, 125, 230) solid;
    border-radius: 3px;
    outline: 0px;
}

.home-product-heading-button:hover{
    background-color: rgb(50, 50, 50);
    color: white;
    border: 2px rgb(50, 50, 50) solid;
}

#home-product-body-top-images {
    height: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 900px;
}

html {
    overflow: hidden;
}

body {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}

#home-product-body-top-images {
    display: flex;
    justify-content: space-between;
    height: 120vh;
}

.pixel-4-photo-1 {
    height: 120vh;
    width: auto;
    margin-top: 60vh;
    transform: translateZ(-1px) scale(1.5);
    z-index: -2;
}

.pixel-4-photo-2 {
    height: 100vh;
    width: auto;
    margin-top: 30vh;
    margin-left: 100px;
    margin-right: 100px;
    z-index: -1;
}

.pixel-4-photo-3 {
    height: 120vh;
    width: auto;
    margin-top: 50vh;
    transform: translateZ(-1px) scale(1.5);
    z-index: -1;
}

#home-product-heading-2 {
    font-size: 60px;
    font-weight: 700;
    color: rgb(127, 127, 127);
    margin-bottom: 0px;
    height: auto;
    background-color: white;
}

#home-product-heading-3 {
    font-size: 62px;
    font-weight: 700;
    color: rgb(127, 127, 127);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 200px;
    background-color: white;
}

.big-phone-camera {
    position: relative;
    height: 100vh;
    margin-bottom: -100px; 
    z-index: -1; 
}

#black-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300vh;
    width: 100%;
    background-color: black;
    z-index: 2;
}

.photo-behind-hole {
    height: 350px;
    width: 406px;
    background-color: white;
    border: 3px rgb(85, 85, 85) solid;
    border-radius: 90px;
    margin-top: 100px;
}

#home-product-heading-4 {
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-top: 50px;
    margin-bottom: 0px;
}

#home-product-heading-5 {
    font-size: 25px;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}