body {
    background-color: rgb(248,249,250);
}

.stadia-review{
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh 25vw;
}

#stadia-image {
    width: 20vw;
}

.buy-stadia-button {
    width: auto;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Gill Sans';
    color: rgb(50, 125, 230);
    background-color: white;
    border: 1px rgb(220, 220, 220) solid;
    border-radius: 5px;
    outline: 0px;
}

.buy-stadia-button:hover {
    cursor: pointer;
}