 /* .checkout{
    height: 50vh;
    width: 50vw;
}

#stripe-component {
    display: flex;
    flex-direction: column;
     align-items: center; 
    justify-content: space-between;
    height: 40vh;
    width: 100%;
}  */

.shopping-cart {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(250,250,250)
}

.cart-products {
    width: 55vw;
    height: auto;
    background-color: white;
    margin: 5vh;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgb(170, 169, 169)
}

.payment-form {
    width: 35vw;
    height: 30vh;
    background-color: white;
    margin: 5vh;
    margin-left: 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgb(170, 169, 169)
}