#stripe-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 22.54vh;
    width: 50%;
    text-align: left;
    padding-left: 10%;
} 

.stripe-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.stripe-heading {
    /* margin-top: 0px; */
}

.exp-cvc {
    display: flex;
    /* justify-content: center; */
}

.shopping-cart {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(250,250,250)
}

.cart-products {
    width: 55vw;
    height: auto;
    background-color: white;
    margin: 5vh;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgb(170, 169, 169)
}

.payment-form {
    width: 35vw;
    height: 30vh;
    background-color: white;
    margin: 5vh;
    margin-left: 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgb(170, 169, 169)
}