.product-config-body {
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.config-toggles {
    height: 73.5vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248,249,250)
}

.product-selector-heading {
    font-size: 30px;
    font-weight: 500;
    color: rgb(100, 100, 100);
    margin-top: 50px;
    margin-bottom: 20px;
}

.product-selector-heading-2 {
    font-size: 20px;
    font-weight: 500;
    color: rgb(100, 100, 100);
    margin-top: 50px;
    margin-bottom: 20px;
}

.product-selector-heading-random {
    font-size: 20px;
    font-weight: 500;
    color: rgb(100, 100, 100);
    margin-top: 50px;
    margin-bottom: 66.5px;
}

.product-selector-images {
    height: 25vh;
}

.product-selector-images-2 {
    height: 30vh;
}

.product-selector-heading-3 {
    font-size: 17px;
    font-weight: 500;
    color: rgb(100, 100, 100);
    margin-top: 0px;
    margin-bottom: 10px;
}

.product-selector-button{
    width: 90px;
    height: 35px;
    font-size: 16px;
    font-weight: 700;
    font-weight: 600;
    font-family: 'Gill Sans';
    color: rgb(50, 125, 230);
    background-color: white;
    border: 1px rgb(220, 220, 220) solid;
    border-radius: 5px;
    outline: 0px;
    margin-top: 0px;
    margin-bottom: 80px;
}

.product-selector-button:hover{
    background-color: rgb(50, 50, 50);
    color: white;
    border: 2px rgb(50, 50, 50) solid;
}

.product-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product-option{
    
}

.product-storage-option {
    background-color: white;
    width: 20vw;
    height: 15vh;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px white solid;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 1px rgb(180, 180, 180);
}

.product-storage-option:hover{
    border: 2px rgb(50, 125, 230) solid;
}

.product-storage-option-text {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(100, 100, 100);
}

.product-storage-option-text-2 {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(100, 100, 100);
}

#panda-care {
    background-color: white;
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#po-image {
    height: 30vh;
}

.product-config-footer {
    height: 14vh;
    width: 100%;
    border: 1px rgb(200, 200, 200) solid;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 5px;
}

.product-selector-bottom-button-1 {
    color: rgb(50, 125, 230);
    background-color: white;
    outline: 0px;
    border: 0px;
    border-radius: 5px;
    height: 5vh;
    width: 10.5vh;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Gill Sans';
    margin-left: 2.5%;
}

.product-selector-bottom-button-1:hover {
    background-color: rgb(245, 245, 245);
}

.product-selector-bottom-button-2 {
    color: white;
    background-color: rgb(50, 125, 230);
    outline: 0px;
    border: 0px;
    border-radius: 5px;
    height: 5vh;
    width: 10.5vh;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Gill Sans';
    margin-right: 2.5%;
}